.event-button {
	margin: 5px;
}

#dpcal-event-container h2 {
	border-bottom: 2px solid #DDDDDD;
}

#dp-event-details-map {
	width: 100%;
	height: 200px;
}

.event-label {
	font-weight: bold
}

/* added on 6 july 2016 onwards*/
h1#event-title{color:#81cbc4;}

#event-description > p:first-child{float: left;width: 57%;}

#event-description{background:white;padding:10px;}

.mkhet{height:auto !important;}
.transwrp{position: relative; height: 20px; background: white none repeat scroll 0% 0%; opacity: 0.5; bottom: 64px;}
.trnsnxt{padding: 5px 0px; width: 97%; background: white none repeat scroll 0% 0%; text-align: center; position: absolute; bottom: 40px;}
.adcalbtn{font-size: 18px; color: rgb(27, 103, 100); background-color: rgb(179, 240, 240); padding: 4px; left: 0px; position: absolute;}
.descvewmore{padding: 4px; font-weight: bolder; font-size: 20px; color: rgb(129, 203, 196); background: white none repeat scroll 0% 0%;cursor:pointer;}
.fnsiz{font-size: 18px;color: rgb(102, 183, 175);}
.rtabbox{font-size: 36px; background: rgb(223, 241, 239) none repeat scroll 0% 0%; text-align: center; padding: 20px; margin-top: 10px;}

/* for shocial share */
.square_shares .horizontal-share-buttons {
    border: medium none;
    padding: 8px 0;
}

.c {
    clear: both;
    float: none;
}

.horizontal-share-buttons div {
    position: relative;
}

.fb_share {
    background: #3c5898 none repeat scroll 0 0;
}

.fb_share, .tweet_share, .email_share, .gplus_share, .pinterest_share, .rebuzz_share, .reddit_share, .stumbleupon_share, .link_share, .linkedin_share, .bookmark-share, .tumblr_share {
    float: left;
    height: 39px;
    margin: 0 5px 5px 0;
    width: 99px;
}

.shareBtn.square {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 0;
}

.shareBtn.square {
    border: medium none;
    border-radius: 0;
    height: 39px;
    margin: 0 5px 5px 0;
    padding: 0;
    width: 99px;
}


*, *::before, *::after {
    box-sizing: inherit;
}
*, *::before, *::after {
    box-sizing: inherit;
}
.horizontal-share-buttons .shareBtn.square {
    z-index: 0;
}
.shareBtn.square {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 0;
}
.shareBtn.square {
    border: medium none;
    border-radius: 0;
    height: 39px;
    margin: 0 5px 5px 0;
    padding: 0;
    width: 99px;
}
.shareBtn {
    background: #eee -moz-linear-gradient(center top , #fdfdfd, #e0e0e0) repeat scroll 0 0;
    border: 1px solid #cccccc;
    border-radius: 4px;
    color: #36393d;
    float: left;
    overflow: hidden;
    padding: 0;
}

.shareBtn.square .fb_icon {
    background: rgba(0, 0, 0, 0) url("images/new-bottom-share-sprite-smaller.png?v=1468513790") no-repeat scroll 0 0;
}

.shareBtn.square .email_icon {
    background: rgba(0, 0, 0, 0) url("images/new-bottom-share-sprite-smaller.png?v=1468513790") no-repeat scroll 0 -121px;
}

.shareBtn.square .twitter_icon {
    background: rgba(0, 0, 0, 0) url("images/new-bottom-share-sprite-smaller.png?v=1468513790") no-repeat scroll 0 -40px;
}

.shareBtn.square .gplus_icon {
    background: rgba(0, 0, 0, 0) url("images/new-bottom-share-sprite-smaller.png?v=1468513790") no-repeat scroll 0 -200px;
}

.shareBtn.square .li_icon {
    background: rgba(0, 0, 0, 0) url("images/new-bottom-share-sprite-smaller.png?v=1468513790") no-repeat scroll 0 -162px;
}

.shareBtn.square .fb_icon, .shareBtn.square .twitter_icon, .shareBtn.square .email_icon, .shareBtn.square .pi_icon, .shareBtn.square .gplus_icon, .shareBtn.square .rebuzz_icon, .shareBtn.square .reddit_icon, .shareBtn.square .su_icon, .shareBtn.square .copy_icon, .shareBtn.square .li_icon, .shareBtn.square .tumblr_icon {
    border: medium none;
    height: 100%;
    margin: 0;
    width: 100%;
}
.email_share {
    background: #666666 none repeat scroll 0 0;
}

.pinterest_share {
    background: #de010d none repeat scroll 0 0;
}
.tweet_share {
    background: #6aadd1 none repeat scroll 0 0;
}
.tumblr_share {
    background: #2b4563 none repeat scroll 0 0;
}
.gplus_share {
    background: #cd3627 none repeat scroll 0 0;
}
.linkedin_share {
    background: #0b6eb3 none repeat scroll 0 0;
}

.fa, .solid .fa {
    display: inline-block;
    font-family: FontAwesome;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
}

.eventhub-partners > li {float: left;list-style: outside none none;padding: 24px;}