@media screen and (max-width: 767px) {
	.row-fluid [class*="span"] {
		float: left !important;
		width: 49% !important;
		margin: 0 !important;
	}
}

@media screen and (max-width: 480px) {
	.row-fluid [class*="span"] {
		float: none !important;
		width: 100% !important;
		margin: 0 !important;
	}
}